*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(168, 166, 170);
}
.wrapper{
    background-color: white;
    padding: 30px;
    width: 430px;
    border-radius: 5px;
}
.wrapper header{
    color: #6990f2;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}
.wrapper form{
    height: 167px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #6990f2;
    margin-bottom: 15px;
}
form :where(i, p){
    color: #6990f2;
}
 form i{
    font-size: 50px;
 }
 form p{
    font-size: 16px;
    margin-top: 15px;
 }
 section .row{
    background: #eeeff1;
    margin-bottom: 10px;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

 }
 section .row i{
    font-size: 30px;
    color: #6990f2;
 }
 section .row .content{
    width: 100%;
 }
section .details span{
    font-size: 15px;
}
.progress-area .row .content{
    width: 100%;
    margin-left: 15px;

}
.progress-area .details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
}
.progress-area .progress-bar{
    height: 6px;
    width: 100%;
    background-color: white;
    margin-bottom: 4px;
    margin-top: 5px;
    border-radius: 30px;
}
.progress-area .progress{
    width: 50%;
    height: 100%;
    background-color: #6990f2;
    border-radius: inherit;
}
.uploaded-area{
    max-height: 230px;
    overflow: scroll;
}
.uploaded-area::-webkit-scrollbar{
    width: 0px;
}
.uploaded-area .row .content{
    display: flex;
    align-items: center;
}
.uploaded-area .row .details{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}
.uploaded-area .details .size{
    font-size: 11px;
}
.uploaded-area .fa-check{
    color: #6990f2;
    font-size: 16px;
}